---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642387143,"sunrise":1642342720,"sunset":1642377624,"temp":33.62,"feels_like":33.62,"pressure":1019,"humidity":53,"dew_point":19.87,"uvi":0,"clouds":15,"visibility":10000,"wind_speed":1.01,"wind_deg":125,"wind_gust":3,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1642384800,"temp":34.36,"feels_like":34.36,"pressure":1019,"humidity":52,"dew_point":20.08,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":1.19,"wind_deg":105,"wind_gust":1.52,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1642388400,"temp":33.62,"feels_like":33.62,"pressure":1019,"humidity":53,"dew_point":19.87,"uvi":0,"clouds":15,"visibility":10000,"wind_speed":2.73,"wind_deg":134,"wind_gust":3.24,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1642392000,"temp":33.98,"feels_like":33.98,"pressure":1019,"humidity":52,"dew_point":19.76,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":2.62,"wind_deg":108,"wind_gust":3.13,"weather":[{"id":801,"main":"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"c[...]
