---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642553399,"sunrise":1642515466,"sunset":1642550558,"temp":43.12,"feels_like":40.93,"pressure":1010,"humidity":32,"dew_point":17.13,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":74,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1642550400,"temp":43.39,"feels_like":43.39,"pressure":1010,"humidity":33,"dew_point":17.98,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.77,"wind_deg":240,"wind_gust":3.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642554000,"temp":43.12,"feels_like":40.96,"pressure":1010,"humidity":32,"dew_point":17.13,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.96,"wind_deg":32,"wind_gust":4.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1642557600,"temp":42.57,"feels_like":40.71,"pressure":1010,"humidity":34,"dew_point":17.94,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":3.53,"wind_deg":33,"wind_gust":4.63,"weather":[{"id":804,"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"c[...]
