---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Washington,DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.367 TT 0 0.371"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 61763,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL98030W",
                    "type": "work",
                    "seed": [
                        "/books/OL19984015M",
                        "/books/OL10901564M",
                        "/books/OL21638373M",
                        "/books/OL22361381M",
                        "/books/OL9644215M",
                        "/books/OL5538517M",
                        "/books/OL5772303M",
                        "/books/OL13675301M",
                        "/books/OL24965661M",
                        "/books/OL24382331M",
                        "/books/OL206477[...]
