---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=1&query=Chicago,IL&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID 3afx9Vl1gx9hW7UXMwo17I4hITAUnSk2T0yLfNzeZ-Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?page=4731&per_page=1&query=Chicago%2CIL&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather-api>;
        rel="last", <https://api.unsplash.com/search/photos?page=2&per_page=1&query=Chicago%2CIL&utm_campaign=api-credit&utm_medium=referral&utm_source=sweater-weather-api>;
        rel="next"
      X-Total:
      - '4731'
      X-Per-Page:
      - '1'
      Etag:
      - W/"703f64b3d375f8d46e9750d92c3f1943"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":4731,"total_pages":4731,"results":[{"id":"WCCO2CtOuVQ","created_at":"2020-10-09T16:52:55-04:00","updated_at":"2022-01-16T13:14:41-05:00","promoted_at":null,"width":4592,"height":2584,"color":"#0c73a6","blur_hash":"LM9H33og0JadO]ogroM{ERWD${s.","description":null,"alt_description":"white
        concrete building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1602276506752-cec706667215?ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1602276506752-cec706667215?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1602276506752-cec706667215?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1602276506752-cec706667215?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1602276506752-cec706667215?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/WCCO2CtOuVQ","html":"https://unsplash.com/photos/WCCO2CtOuVQ","download":"https://unsplash.com/photos/WCCO2CtOuVQ/download?ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx","download_location":"https://api.unsplash.com/photos/WCCO2CtOuVQ/download?ixid=MnwyOTExNzZ8MHwxfHNlYXJjaHwxfHxDaGljYWdvJTJDSUx8ZW58MHx8fHwxNjQyNDM3OTIx"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"architecture":{"status":"rejected"}},"user":{"id":"dmX2HVDqSsQ","updated_at":"2022-01-15T06:36:14-05:00","username":"drench777","name":"Dylan
        LaPierre","first_name":"Dylan","last_name":"LaPierre","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Chicago
        ","links":{"self":"https://api.unsplash.com/users/drench777","html":"https://unsplash.com/@drench777","photos":"https://api.unsplash.com/users/drench777/photos","likes":"https://api.unsplash.com/users/drench777/likes","portfolio":"https://api.unsplash.com/users/drench777/portfolio","following":"https://api.unsplash.com/users/drench777/following","followers":"https://api.unsplash.com/users/drench777/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"dlp.official_","total_collections":0,"total_likes":128,"total_photos":99,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"dlp.official_","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"landing_page","title":"chicago","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"chicago","pretty_slug":"Chicago"}},"title":"HD
        Chicago Wallpapers","subtitle":"Download Free Chicago Wallpapers","description":"Choose
        from a curated selection of Chicago wallpapers for your mobile and desktop
        screens. Always free on Unsplash.","meta_title":"Chicago Wallpapers: Free
        HD Download [500+ HQ] | Unsplash","meta_description":"Choose from hundreds
        of free Chicago wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2022-01-16T10:00:53-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
