---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642384556,"sunrise":1642335878,"sunset":1642371039,"temp":34.39,"feels_like":28.38,"pressure":997,"humidity":91,"dew_point":32.04,"uvi":0,"clouds":100,"visibility":8047,"wind_speed":7,"wind_deg":51,"wind_gust":17,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"},{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"rain":{"1h":3.16}},"hourly":[{"dt":1642381200,"temp":34.48,"feels_like":23.63,"pressure":998,"humidity":93,"dew_point":32.67,"uvi":0,"clouds":100,"visibility":3072,"wind_speed":18.61,"wind_deg":64,"wind_gust":47.62,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":2.05}},{"dt":1642384800,"temp":34.39,"feels_like":23.2,"pressure":997,"humidity":91,"dew_point":32.04,"uvi":0,"clouds":100,"visibility":635,"wind_speed":19.73,"wind_deg":67,"wind_gust":50.26,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":3.16}},{"dt":1642388400,"temp":35.78,"feels_like":25.14,"pressure":996,"humidity":93,"dew_point":33.96,"uvi":0,"clouds":100,"visibility":362,"wind_speed":19.26,"wind_deg":69,"wind_gust"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=38.892062&lon=-77.019912&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"c[...]
