---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642553452,"sunrise":1642508627,"sunset":1642543970,"temp":29.89,"feels_like":29.89,"pressure":1020,"humidity":70,"dew_point":22.28,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1642550400,"temp":30.38,"feels_like":26.51,"pressure":1021,"humidity":71,"dew_point":23.05,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":3.74,"wind_deg":284,"wind_gust":9.64,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1642554000,"temp":29.89,"feels_like":29.89,"pressure":1020,"humidity":70,"dew_point":22.28,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.35,"wind_deg":284,"wind_gust":5.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642557600,"temp":30.25,"feels_like":30.25,"pressure":1021,"humidity":71,"dew_point":22.93,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":1.92,"wind_deg":239,"wind_gust":2.44,"weather":[{"id":801,"main":"Clo[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=38.892062&lon=-77.019912&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"c[...]
