---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1642351682,"sunrise":1642335878,"sunset":1642371039,"temp":23.11,"feels_like":13.98,"pressure":1026,"humidity":59,"dew_point":12.25,"uvi":1.21,"clouds":100,"visibility":10000,"wind_speed":8.05,"wind_deg":40,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1642348800,"temp":23.85,"feels_like":15.6,"pressure":1026,"humidity":55,"dew_point":11.53,"uvi":1.04,"clouds":100,"visibility":10000,"wind_speed":7.09,"wind_deg":86,"wind_gust":13.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642352400,"temp":23.11,"feels_like":15.53,"pressure":1026,"humidity":59,"dew_point":12.25,"uvi":1.21,"clouds":100,"visibility":10000,"wind_speed":6.13,"wind_deg":83,"wind_gust":11.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642356000,"temp":24.35,"feels_like":15.46,"pressure":1025,"humidity":57,"dew_point":12.74,"uvi":1.12,"clouds":100,"visibility":10000,"wind_speed":8.1,"wind_deg":75,"wind_gust":14.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642359600,"temp":25.65,"feels_like":16.99,"pressure":1024,"humidity":60,"dew_point":15.01,"uvi":0.4,"clouds":100,"visibility":10000,"wind_speed":8.19,"wind_deg":72,"wind_gust":16.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.46},{"dt":1642363200,"temp":26.31,"feels_like":16.65,"pressure":1021,"humidity":70,"dew_point":18.82,"uvi":0.21,"clouds":100,"visibility":2749,"wind_speed":10.07,"wind_deg":51,"wind_gust":25.32,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.81,"snow":{"1h":0.33}},{"dt":1642366800,"temp":27.5,"feels_like":17.82,"pressure":1016,"humidity":84,"dew_point":23.79,"uvi":0.07,"clouds":100,"visibility":314,"wind_speed":10.63,"wind_deg":49,"wind_gust":30.8,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"pop":0.98,"snow":{"1h":0.73}},{"dt":1642370400,"temp":30.06,"feels_like":20.66,"pressure":1012,"humidity":96,"dew_point":28.6,"uvi":0,"clouds":100,"visibility":134,"wind_speed":11.3,"wind_deg":51,"wind_gust":34.43,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"pop":1,"snow":{"1h":2.21}},{"dt":1642374000,"temp":32.07,"feels_like":22.6,"pressure":1010,"humidity":98,"dew_point":30.96,"uvi":0,"clouds":100,"visibility":100,"wind_speed":12.64,"wind_deg":56,"wind_gust":35.66,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":1,"snow":{"1h":3.2}},{"dt":1642377600,"temp":32.81,"feels_like":22.82,"pressure":1007,"humidity":97,"dew_point":31.5,"uvi":0,"clouds":100,"visibility":270,"wind_speed":14.47,"wind_deg":54,"wind_gust":39.95,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"},{"id":511,"main":"Rain","description":"freezing rain","icon":"13n"}],"pop":1,"rain":{"1h":1.44}},{"dt":1642381200,"temp":33.82,"feels_like":23.52,"pressure":1004,"humidity":97,"dew_point":32.56,"uvi":0,"clouds":100,"visibility":2125,"wind_speed":16.15,"wind_deg":56,"wind_gust":43.84,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":2.19}},{"dt":1642384800,"temp":35.73,"feels_like":25.59,"pressure":1000,"humidity":98,"dew_point":34.81,"uvi":0,"clouds":100,"visibility":490,"wind_speed":17.43,"wind_deg":58,"wind_gust":45.3[...]
