---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=8&q=Cigago,IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.130 TT 0 0.133"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 4649,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL23272537W",
                    "type": "work",
                    "seed": [
                        "/books/OL31115338M",
                        "/works/OL23272537W",
                        "/authors/OL8827434A"
                    ],
                    "title": "Miz\u1e7fadot",
                    "title_suggest": "Miz\u1e7fadot",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL31115338M"
                    ],
                    "publish_date": [
                        "2012"
                    ],
                    "publish_year": [
                        2012
                    ],
                    "first_publish_year": 2012,
                    "number_of_pages_median": 209,
                    "lccn": [
                        "2012370388"
                    ],
                    "publish_place": [
                        "\u1e24efah"
                    ],
                    "oclc": [
                        "779586351"
                    ],
                    "lcc": [
                        "PJ-5055.26000000.O294 M59 2012"
                    ],
                    "isbn": [
                        "1618380028",
                        "9781618380029"
                    ],
                    "last_modified_i": 1605295048,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Pardes"
                    ],
                    "language": [
                        "heb"
                    ],
                    "author_key": [
                        "OL8827434A"
                    ],
                    "author_name": [
                        "Il-il Kofler"
                    ],
                    "publisher_facet": [
                        "Pardes"
                    ],
                    "_version_": 1715086855771258880,
                    "lcc_sort": "PJ-5055.26000000.O294 M59 2012",
                    "author_facet": [
                        "OL8827434A Il-il Kofler"
                    ]
                },
                {
                    "key": "/works/OL18607927W",
                    "type": "work",
                    "seed": [
                        "/books/OL12796739M",
                        "/books/OL23594816M",
                        "/works/OL18607927W",
                        "/subjects/congresses",
                        "/subjects/foreign_economic_relations",
                       [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=40.12414&lon=-89.14863&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.1241,"lon":-89.1486,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1642553457,"sunrise":1642511726,"sunset":1642546694,"temp":40.5,"feels_like":31.91,"pressure":1010,"humidity":79,"dew_point":34.5,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.98,"wind_deg":197,"wind_gust":40.22,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1642550400,"temp":40.75,"feels_like":32.27,"pressure":1010,"humidity":80,"dew_point":35.08,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.8,"wind_deg":193,"wind_gust":38.61,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642554000,"temp":40.5,"feels_like":31.91,"pressure":1010,"humidity":79,"dew_point":34.5,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.98,"wind_deg":197,"wind_gust":40.22,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642557600,"temp":40.68,"feels_like":32.23,"pressure":1010,"humidity":80,"dew_point":35.01,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.6,"wind_deg":203,"wind_gust":39.88,"weather":[{"id":804,[...]
