---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=8&q=Cigago,IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.152 TT 0 0.154"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 4649,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL23272537W",
                    "type": "work",
                    "seed": [
                        "/books/OL31115338M",
                        "/works/OL23272537W",
                        "/authors/OL8827434A"
                    ],
                    "title": "Miz\u1e7fadot",
                    "title_suggest": "Miz\u1e7fadot",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL31115338M"
                    ],
                    "publish_date": [
                        "2012"
                    ],
                    "publish_year": [
                        2012
                    ],
                    "first_publish_year": 2012,
                    "number_of_pages_median": 209,
                    "lccn": [
                        "2012370388"
                    ],
                    "publish_place": [
                        "\u1e24efah"
                    ],
                    "oclc": [
                        "779586351"
                    ],
                    "lcc": [
                        "PJ-5055.26000000.O294 M59 2012"
                    ],
                    "isbn": [
                        "1618380028",
                        "9781618380029"
                    ],
                    "last_modified_i": 1605295048,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Pardes"
                    ],
                    "language": [
                        "heb"
                    ],
                    "author_key": [
                        "OL8827434A"
                    ],
                    "author_name": [
                        "Il-il Kofler"
                    ],
                    "publisher_facet": [
                        "Pardes"
                    ],
                    "_version_": 1715086855771258880,
                    "lcc_sort": "PJ-5055.26000000.O294 M59 2012",
                    "author_facet": [
                        "OL8827434A Il-il Kofler"
                    ]
                },
                {
                    "key": "/works/OL18607927W",
                    "type": "work",
                    "seed": [
                        "/books/OL12796739M",
                        "/books/OL23594816M",
                        "/works/OL18607927W",
                        "/subjects/congresses",
                        "/subjects/foreign_economic_relations",
                       [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_key>&location=Cigago,IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 17:21:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Cigago,IL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"US/GEO/p0/7574","unknownInput":"","type":"s","latLng":{"lat":40.12414,"lng":-89.14863},"displayLatLng":{"lat":40.12414,"lng":-89.14863},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_key>&type=map&size=225,160&locations=40.12414,-89.14863|marker-sm-50318A-1&scalebar=true&zoom=5&rand=1777532576"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"IL","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=40.12414&lon=-89.14863&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.1241,"lon":-89.1486,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1642526484,"sunrise":1642511726,"sunset":1642546694,"temp":39.9,"feels_like":31.41,"pressure":1014,"humidity":75,"dew_point":32.63,"uvi":1.43,"clouds":60,"visibility":10000,"wind_speed":16.04,"wind_deg":178,"wind_gust":35.3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1642525200,"temp":39.9,"feels_like":31.41,"pressure":1014,"humidity":75,"dew_point":32.63,"uvi":1.43,"clouds":60,"visibility":10000,"wind_speed":16.04,"wind_deg":178,"wind_gust":35.3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1642528800,"temp":40.35,"feels_like":31.66,"pressure":1014,"humidity":72,"dew_point":32.05,"uvi":1.59,"clouds":61,"visibility":10000,"wind_speed":17.18,"wind_deg":185,"wind_gust":35.68,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1642532400,"temp":41.63,"feels_like":33.28,"pressure":1013,"humidity":69,"dew_point":32.23,"uvi":1.39,"clouds":76,"visibility":10000,"wind_speed":17.29,"wind_deg":189,"wind_gust":34.99,"weather":[{"id"[...]
